@charset "UTF-8";
/* CSS Document */
#borderimg { 
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../images/border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 30 stretch;
}

